.avatar {
  width: 650px;
  height: 650px;
  float: right;
  margin-top: 40px;
  margin-right: 200px;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }
}
