.avatar {
  width: 650px;
  height: 650px;
  float: right;
  margin-top: 40px;
  margin-right: 200px;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 1200px) {
  .avatar {
    display: none;
    position: relative;
    width: 100%;
    height: 0%;
    overflow: visible;
    float: right;
  }

  .resume {
    margin-bottom: 10%;
  }
}
