.gif {
  width: 50%;
  height: 100%;
  float: right;
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  .gif {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}
