.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h1 {
    color: black;
    font-size: 50px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;

    &::before {
      content: "<h1>";
      font-family: "Cascadia";
      color: black;
      font-size: 15px;
      position: absolute;
      margin-top: -40px;
      opacity: 0.4;
    }

    &::after {
      content: "<h1/>";
      font-family: "Cascadia";
      color: black;
      font-size: 15px;
      position: absolute;
      margin-top: 5px;
      margin-left: 5px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.4;
    }
  }
}

h2 {
  color: grey;
  margin-top: 30px;
  font-weight: 300;
  font-size: 11px;
  font-family: "Cascadia";
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
  color: black;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: "Cascadia";
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid black;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background-color: black;
    color: white;
  }
}
